---
import Layout from "../layouts/Layout.astro";

const title = "Index";
---

<Layout title={title}>
  <h1>Welcome to <span class="text-gradient">Astro</span></h1>
  <p>
    This is a simple project where it's only intent is to study and explore this
    tool.
  </p>
  <h3>Links</h3>
  <ul>
    <li><a href="/contact">Contact page</a></li>
    <li><a href="/blog">Blog page</a></li>
    <li><a href="/components">Components page</a></li>
  </ul>
  <h3>Images</h3>
  <img
    src="/img/cat-1.jpg"
    alt="Image from public directory can be accessed by /img only."
  />
</Layout>
